*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:black;
overflow:hidden;
font-family:Arial;

}

#player{

width:100vw;
height:100vh;

}

img,video{

width:100%;
height:100%;
object-fit:cover;
display:none;

}

#clock{

position:absolute;

top:20px;

right:30px;

font-size:35px;

color:white;

font-weight:bold;

}

#ticker{

position:absolute;

bottom:0;

width:100%;

height:45px;

background:#c00000;

color:white;

display:flex;

align-items:center;

font-size:22px;

}
